<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pocketUp" translate="label" sortOrder="10">
            <label>Pocket Up</label>
        </tab>
        <section id="pocketUp_configuration" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pocket Up</label>
            <tab>pocketUp</tab>
            <resource>PocketUp_User::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Pocket Up Configuration</label>
                <field id="api_kay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <comment>The API key to connect with pocket Up system</comment>
                </field>
                <field id="earn_at" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Earn Points At:</label>
                    <source_model>PocketUp\User\Model\Config\Source\Events</source_model>
                </field>
                <field id="burn_at" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Burn Points At:</label>
                    <source_model>PocketUp\User\Model\Config\Source\Events</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
